<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/index.css">
    <link rel="stylesheet" href="./styles/responsiveness.css">
    <link rel="stylesheet" href="./styles/Doctors.css">
    <title>Doctors</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa fa-bars"></i>
        </label>
        <label class="logo">Swasth</label>
            <ul>
                <li>
                    <a href="/" class="Home">Home</a>
                </li>
                <li>
                    <a href="/ayurveda">Ayurveda</a>
                </li>
                <li>
                    <a href="/vaccines">Vaccines</a>
                </li>
                <li>
                    <a href="/custom_plan">Custom Plan</a>
                </li>

            </ul>
    </nav>

    <div class="doctor_image">
        <img src="images/doctors_image-transformed.jpeg" alt="" class="Image_Doc">
        <img src="images/doctors_image-3-transformed.jpeg" alt="" class="Image_Doc">
        <img src="images/Doctors_image2-transformed.jpeg" alt="" class="Image_Doc">
    </div>
    <!-- For table -->
    <section class="Home-section">
        <main class="table" id="products_table">
            <section class="table__header">
                <h1>Doctors</h1>
                <div class="input-group">
                    <input type="search" placeholder="Search Data...">
                    <img src="images/search icon.jpg" alt="searchIcon">
                </div>
                <div><button onmouseover="this.style.color='black'"  onmouseout="this.style.color='grey'" style="padding: 10px; color: gray; cursor: pointer; border-radius: 8px; border-style: none; "><i class='bx bx-plus-circle' style="color: gray;"></i>Meeting</button></div>
                
            </section>
            <section class="table__body">
                <table>
                    <thead>
                        <tr>
                            <th> Doctor <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Education <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Experience <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Hospital Name <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Specialization <span class="icon-arrow">&UpArrow;</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <%if(Doc_data && Doc_data.length){%>
                            <% Doc_data.forEach((doctor) => { %>
                                <tr>
                                    <td><img src="/images/<%doctor.image%>" alt=""><%= doctor.doctor %></td>
                                    <td><%= doctor.education %></td>
                                    <td><p class="status experience"><%= doctor.experience %></p></td>
                                    <td class="status hospital"><%= doctor.hospital %></td>
                                    <td><strong class="status Finished"><%= doctor.specialization %></strong></td>
                                </tr>
                            <% }); %>
                    <%}else{%>
                        <tr>    
                            <td><img src="/images/Almonds.jpeg" alt=""> "Could'nt fetch data" </td>
                            <td>"Could'nt fetch data" </td>
                            <td>
                                <p class="status Automation">"Could'nt fetch data" </p>
                            </td>
                            <td class="status tags_text"> "Could'nt fetch data" </td>
                            <td> <strong class="status Finished"> "Could'nt fetch data" </strong> </td>
                        </tr>
                        <%}%>
                    </tbody>
                </table>
            </section>
        </main>
    </section>
      
    <script>
        // 1. Searching for specific data of HTML table
const search = document.querySelector('.input-group input'),
    table_rows = document.querySelectorAll('tbody tr'),
    table_headings = document.querySelectorAll('thead th');

search.addEventListener('input', searchTable);

function searchTable() {
    table_rows.forEach((row, i) => {
        let table_data = row.textContent.toLowerCase(),
            search_data = search.value.toLowerCase();

        row.classList.toggle('hide', table_data.indexOf(search_data) < 0);
        row.style.setProperty('--delay', i / 25 + 's');
    })

    document.querySelectorAll('tbody tr:not(.hide)').forEach((visible_row, i) => {
        visible_row.style.backgroundColor = (i % 2 == 0) ? 'transparent' : '#0000000b';
    });
}

// 2. Sorting | Ordering data of HTML table

table_headings.forEach((head, i) => {
    let sort_asc = true;
    head.onclick = () => {
        table_headings.forEach(head => head.classList.remove('active'));
        head.classList.add('active');

        document.querySelectorAll('td').forEach(td => td.classList.remove('active'));
        table_rows.forEach(row => {
            row.querySelectorAll('td')[i].classList.add('active');
        })

        head.classList.toggle('asc', sort_asc);
        sort_asc = head.classList.contains('asc') ? false : true;

        sortTable(i, sort_asc);
    }
})


function sortTable(column, sort_asc) {
    [...table_rows].sort((a, b) => {
        let first_row = a.querySelectorAll('td')[column].textContent.toLowerCase(),
            second_row = b.querySelectorAll('td')[column].textContent.toLowerCase();

        return sort_asc ? (first_row < second_row ? 1 : -1) : (first_row < second_row ? -1 : 1);
    })
        .map(sorted_row => document.querySelector('tbody').appendChild(sorted_row));
}
    </script>
</body>
</html>